/*
    Name: Mack McCall
    Date: 01.30.2026
    CSC 372-01

    This is the style.css page for my destination page of 
    the travelogue assignment-1. It formats the page to follow the 
    outlines given in the assignment outline.
*/

body {
  background-color: white;
  color: #404040;
  font-size: 11pt;
  font-family: Georgia;
  background-image: url("./images/bora-bkg.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
}

h2,
h3 {
  text-align: left;
  font-size: 18pt;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
  color: #a4a400;
}

a {
  color: #a4a400;
}

blockquote {
  font-style: italic;
  text-indent: 25px;
  background-color: #ffffa8;
}
